<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import materialize css lib -->
    <link rel="stylesheet" href="/css/materialize/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="/css/custom.css"/>
</head>

<body>
<!-- header navbar -->
<% include header.ejs %>

<!--main-->
<main class="container main">
    <div class="section">
        <div class="row">
            
            <div class="col s6">
                <div class="card blue-grey darken-1 hoverable" id="cardOne">
                    <div class="card-content white-text">
                        <span class=""><h5><%= model_one_title %></h5></span>
                        <!-- TODO -->
                        <p>To build an application instance...</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Go to it</a>
                    </div>
                </div>
            </div>

            <div class="col s6">
                    <div class="card blue-grey darken-1 hoverable" id="cardOne">
                        <div class="card-content white-text">
                            <span class=""><h5><%= model_two_title %></h5></span>
                            <!-- TODO -->
                            <p>Configure telemetry-related functionalities...</p>
                        </div>
                        <div class="card-action">
                            <a href=<%= model_two_url %>>Go to it</a>
                        </div>
                    </div>
            </div>

            <div class="col s6">
                    <div class="card blue-grey darken-1 hoverable" id="cardOne">
                        <div class="card-content white-text">
                            <span class=""><h5><%= model_three_title %></h5></span>
                            <!-- TODO -->
                            <p>Configure telecommand-related functionalities...</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Go to it</a>
                        </div>
                    </div>
            </div>
            
            <div class="col s6">
                    <div class="card blue-grey darken-1 hoverable" id="cardOne">
                        <div class="card-content white-text">
                            <span class=""><h5><%= model_four_title %></h5></span>
                            <!-- TODO -->
                            <p>Configure manoeuvre-related functionalities...</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Go to it</a>
                        </div>
                    </div>
            </div>

            <div class="col s6">
                <div class="card blue-grey darken-1 hoverable" id="cardTwo">
                    <div class="card-content white-text">
                        <span class=""><h5><%= model_five_title %></h5></span>
                        <!-- TODO -->
                        <p>Configure fault detection, identification, and recovery functionalities...</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Go to it</a>
                    </div>
                </div>
            </div>


            <div class="col s6">
                    <div class="card blue-grey darken-1 hoverable" id="cardOne">
                        <div class="card-content white-text">
                            <span class=""><h5><%= model_six_title %></h5></span>
                            <!-- TODO -->
                            <p>Configure Finite State Machines...</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Go to it</a>
                        </div>
                    </div>
            </div>

            <div class="col s6">
                    <div class="card blue-grey darken-1 hoverable" id="cardOne">
                        <div class="card-content white-text">
                            <span class=""><h5><%= model_seven_title %></h5></span>
                            <!-- TODO -->
                            <p>Packet Utilization Standard...</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Go to it</a>
                        </div>
                    </div>
            </div>

            <div class="col s6">
                    <div class="card blue-grey darken-1 hoverable" id="cardOne">
                        <div class="card-content white-text">
                            <span class=""><h5><%= model_eight_title %></h5></span>
                            <!-- TODO -->
                            <p>The manipulation and processing of data...</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Go to it</a>
                        </div>
                    </div>
            </div>

            <div class="col s6">
                    <div class="card blue-grey darken-1 hoverable" id="cardOne">
                        <div class="card-content white-text">
                            <span class=""><h5><%= model_nine_title %></h5></span>
                            <!-- TODO -->
                            <p>The mode management design patterns</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Go to it</a>
                        </div>
                    </div>
            </div>

            <div class="col s6">
                    <div class="card blue-grey darken-1 hoverable" id="cardOne">
                        <div class="card-content white-text">
                            <span class=""><h5><%= model_ten_title %></h5></span>
                            <!-- TODO -->
                            <p>Some descriptions about the model one... TO BE ADDED</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Go to it</a>
                        </div>
                    </div>
            </div>

            <div class="col s6">
                    <div class="card blue-grey darken-1 hoverable" id="cardOne">
                        <div class="card-content white-text">
                            <span class=""><h5><%= model_eleven_title %></h5></span>
                            <!-- TODO -->
                            <p>Some descriptions about the model one... TO BE ADDED</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Go to it</a>
                        </div>
                    </div>
            </div>

            <div class="col s6">
                    <div class="card blue-grey darken-1 hoverable" id="cardOne">
                        <div class="card-content white-text">
                            <span class=""><h5><%= model_twelve_title %></h5></span>
                            <!-- TODO -->
                            <p>Some descriptions about the model one... TO BE ADDED</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Go to it</a>
                        </div>
                    </div>
            </div>


        </div>
    </div>
</main>


<!-- footer -->
<% include footer.ejs %>

<script src="/js/lib/jquery.js"></script>
<!-- Import materialize js lib -->
<script src="/js/materialize/materialize.min.js"></script>
<script>
    (function ($) {
        $(function () {

        });
    })(jQuery);
</script>
</body>
</html>
